.root{
}
.button{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-background-radius: 15;
	-fx-border-width:2;
	-fx-border-color: white;
	-fx-border-radius: 180px;
}
.button:hover{
	-fx-background-color: blue;
	-fx-text-fill: white;
	-fx-background-radius: 180;
	-fx-border-color: white;
	
}
.label{
	-fx-text-fill: purple;
}
.text-field{
	-fx-text-fill: green;
	-fx-font-size: 13;
}
.password-field{
	-fx-text-fill: green;
	-fx-font-size: 13;
}
.grid-pane{
	-fx-border-width:1;
	-fx-border-color:red;
	-fx-border-width:1;
	-fx-border-color: blue;
}
.table-column{
	-fx-border-width:1;
	-fx-border-color:black;
}